* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
}

:root {
    --viola: #6E467B;
    --white: #FFFFFF;

}

.pointer {
    cursor: pointer;
}
.max-container { 
    max-width: 1600px;
    margin: auto;
}

.width-max-content {
    width: max-content;
}

.border {
    border: 1px solid red !important;
}


/*********** DISPLAY ***********/
.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.d-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*********** BORDERS ***********/



/*********** COLORS ***********/
.viola { color: var(--viola)}


/*********** BUTTONS ***********/
.custom-btn {
    transition: 0.3s;
    overflow: hidden;
    outline: none;
    border-radius: 50px;
    min-width: 140px;
    min-height: 40px;
    padding: 0 15px;
    font-weight: bold;
}

.btn-viola-fill {
    border: 1px solid var(--viola);
    background-color: var(--viola);
    color: var(--white);
}